[package]
name = "stelae"
description = "A collection of tools in rust and python for preserving, authenticating, and accessing laws in perpetuity."
version = "0.1.0"
edition = "2021"
readme = "README.md"
license = "AGPL-3.0"
keywords = ["authentication", "laws", "preservation"]
categories = ["authentication", "web-programming::http-server"]
repository = "https://github.com/openlawlibrary/stelae"
rust-version = "1.66"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "entity", "migration"]

[dependencies]
actix-web = "4"
actix-files = "0.6"
anyhow = "1.0"
clap = { version = "4.0.27", features = ["derive"] }
git2 = "0.15"
lazy_static = "1.4.0"
regex = "1"
serde = "1.0"
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
tracing-actix-web = "0.6.2"
derive_more = "0.99.17"
tempfile = "3"
entity = { path = "entity" }
migration = { path = "migration" }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "git_benchmark"
harness = false
